Repository facebookincubator/cinder, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ezio-melotti, @hugovk, @AlexWaygood, @erlend-aasland, @corona10, @1st1, @asvetlov, @gvanrossum, @kumaraditya303, @willingc, @markshannon, @rhettinger, @methane, @JelleZijlstra, @iritkatriel, @isidentical, @brandtbucher, @tiran, @vsajip, @brettcannon, @encukou, @ericsnowcurrently, @ncoghlan, @warsaw, @jaraco, @FFY00, @pganssle, @abalkin, @python/email-team, @pablogsal, @lysnikolaou, @cjw296, @berkerpeksag, @gpshead, @python/windows-team, @ericvsmith, @terryjreedy, @giampaolo, @ethanfurman, @hauntsaninja, @python/macos-team, @barneygale, @sethmlarson

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# GitHub
.github/**                    @ezio-melotti @hugovk

# pre-commit
.pre-commit-config.yaml       @hugovk @AlexWaygood
.ruff.toml                    @hugovk @AlexWaygood

# Build system
configure*                    @erlend-aasland @corona10

# asyncio
**/*asyncio*                  @1st1 @asvetlov @gvanrossum @kumaraditya303 @willingc

# Core
**/*context*                  @1st1
**/*genobject*                @markshannon
**/*hamt*                     @1st1
Objects/set*                  @rhettinger
Objects/dict*                 @methane @markshannon
Objects/typevarobject.c       @JelleZijlstra
Objects/type*                 @markshannon
Objects/codeobject.c          @markshannon
Objects/frameobject.c         @markshannon
Objects/call.c                @markshannon
Python/ceval.c                @markshannon
Python/compile.c              @markshannon @iritkatriel
Python/assemble.c             @markshannon @iritkatriel
Python/flowgraph.c            @markshannon @iritkatriel
Python/ast_opt.c              @isidentical
Lib/test/test_patma.py        @brandtbucher
Lib/test/test_peepholer.py    @brandtbucher
Lib/test/test_type_*.py       @JelleZijlstra

# Exceptions
Lib/traceback.py              @iritkatriel
Lib/test/test_except*.py      @iritkatriel
Lib/test/test_traceback.py    @iritkatriel
Objects/exceptions.c          @iritkatriel
Python/traceback.c            @iritkatriel

# Hashing
**/*hashlib*                  @tiran
**/*pyhash*                   @tiran
**/*sha*                      @tiran
**/*md5*                      @tiran
**/*blake*                    @tiran
/Modules/_blake2/**           @tiran
/Modules/_sha3/**             @tiran

# logging
**/*logging*                  @vsajip

# venv
**/*venv*                     @vsajip

# Launcher
/PC/launcher.c                @vsajip

# HTML
/Lib/html/                    @ezio-melotti
/Lib/_markupbase.py           @ezio-melotti
/Lib/test/test_html*.py       @ezio-melotti
/Tools/build/parse_html5_entities.py   @ezio-melotti

# Import (including importlib).
**/*import*                   @brettcannon @encukou @ericsnowcurrently @ncoghlan @warsaw
**/*importlib/resources/*      @jaraco @warsaw @FFY00
**/importlib/metadata/*       @jaraco @warsaw

# Dates and times
**/*datetime*                 @pganssle @abalkin
**/*str*time*                 @pganssle @abalkin
Doc/library/time.rst          @pganssle @abalkin
Lib/test/test_time.py         @pganssle @abalkin
Modules/timemodule.c          @pganssle @abalkin
Python/pytime.c               @pganssle @abalkin
Include/pytime.h              @pganssle @abalkin

# Email and related
**/*mail*                     @python/email-team
**/*smtp*                     @python/email-team
**/*mime*                     @python/email-team
**/*imap*                     @python/email-team
**/*poplib*                   @python/email-team

# Garbage collector
/Modules/gcmodule.c           @pablogsal
/Doc/library/gc.rst           @pablogsal

# Parser
/Parser/                      @pablogsal @lysnikolaou
/Tools/peg_generator/         @pablogsal @lysnikolaou
/Lib/test/test_peg_generator/ @pablogsal @lysnikolaou
/Grammar/python.gram          @pablogsal @lysnikolaou

# AST
Python/ast.c                  @isidentical
Parser/asdl.py                @isidentical
Parser/asdl_c.py              @isidentical
Lib/ast.py                    @isidentical

# Mock
/Lib/unittest/mock.py         @cjw296
/Lib/test/test_unittest/testmock/* @cjw296

# SQLite 3
**/*sqlite*                   @berkerpeksag @erlend-aasland

# subprocess
/Lib/subprocess.py            @gpshead
/Lib/test/test_subprocess.py  @gpshead
/Modules/*subprocess*         @gpshead

# Windows
/PC/                          @python/windows-team
/PCbuild/                     @python/windows-team

# Urllib
**/*robotparser*              @berkerpeksag

# Windows installer packages
/Tools/msi/                   @python/windows-team
/Tools/nuget/                 @python/windows-team

# Misc
**/*itertools*                @rhettinger
**/*collections*              @rhettinger
**/*random*                   @rhettinger
**/*queue*                    @rhettinger
**/*bisect*                   @rhettinger
**/*heapq*                    @rhettinger
**/*functools*                @rhettinger
**/*decimal*                  @rhettinger

**/*dataclasses*              @ericvsmith

**/*idlelib*                  @terryjreedy

**/*typing*                   @gvanrossum @JelleZijlstra @AlexWaygood

**/*ftplib                    @giampaolo
**/*shutil                    @giampaolo

**/*enum*                     @ethanfurman
**/*cgi*                      @ethanfurman
**/*tarfile*                  @ethanfurman

**/*tomllib*                  @encukou @hauntsaninja

**/*sysconfig*                @FFY00

**/*cjkcodecs*                @corona10

# macOS
/Mac/                         @python/macos-team
**/*osx_support*              @python/macos-team

# pathlib
**/*pathlib*                  @barneygale

# zipfile.Path
**/*zipfile/_path/*           @jaraco

# SBOM
/Misc/externals.spdx.json     @sethmlarson
/Misc/sbom.spdx.json          @sethmlarson
/Tools/build/generate_sbom.py @sethmlarson

Return type error reporting inverted
  cinderx/PythonLib/cinderx/compiler/static/type_binder.py
  cinderx/PythonLib/test_cinderx/test_compiler/test_static/annotated.py
  cinderx/PythonLib/test_cinderx/test_compiler/test_static/common.py
  cinderx/PythonLib/test_cinderx/test_compiler/test_static/compile.py
  cinderx/PythonLib/test_cinderx/test_compiler/test_static/literals.py
  cinderx/PythonLib/test_cinderx/test_compiler/test_static/obj_creation.py
  cinderx/PythonLib/test_cinderx/test_compiler/test_static/runtime.py
  cinderx/PythonLib/test_cinderx/test_compiler/test_static/walrus_operator.py
Owners: none

Remove unused FrameMode from CodeRuntime
  cinderx/Jit/codegen/gen_asm.cpp
  cinderx/Jit/runtime.h
  cinderx/RuntimeTests/lir_test.cpp
  cinderx/RuntimeTests/pyjit_test.cpp
Owners: none

Use enum class for ELF section header indices, std::span for tables
  cinderx/Jit/elf.cpp
Owners: none

Reorganize ELF writer, add jit::elf namespace
  cinderx/Jit/elf.cpp
  cinderx/Jit/elf.h
  cinderx/Jit/pyjit.cpp
  cinderx/RuntimeTests/elf_test.cpp
Owners: none

Support disabling inline caches for attribute access operations
  cinderx/Jit/config.h
  cinderx/Jit/hir/analysis.cpp
  cinderx/Jit/hir/builder.cpp
  cinderx/Jit/hir/hir.cpp
  cinderx/Jit/hir/hir.h
  cinderx/Jit/hir/memory_effects.cpp
  cinderx/Jit/hir/opcode.h
  cinderx/Jit/hir/parser.cpp
  cinderx/Jit/hir/printer.cpp
  cinderx/Jit/hir/simplify.cpp
  cinderx/Jit/hir/ssa.cpp
  cinderx/Jit/jit_rt.cpp
  cinderx/Jit/jit_rt.h
  cinderx/Jit/lir/generator.cpp
  cinderx/Jit/pyjit.cpp
  cinderx/RuntimeTests/hir_frame_state_test.cpp
  cinderx/RuntimeTests/hir_tests/all_passes_test.txt
  cinderx/RuntimeTests/hir_tests/builtin_load_method_elimination_test.txt
  cinderx/RuntimeTests/hir_tests/hir_builder_test.txt
  cinderx/RuntimeTests/hir_tests/refcount_insertion_test.txt
  cinderx/RuntimeTests/hir_tests/simplify_test.txt
  cinderx/RuntimeTests/hir_tests/super_access_test.txt
  cinderx/RuntimeTests/lir_test.cpp
Owners: none

Write ELF with .dynsym and .dynstr, in a new readonly segment
  cinderx/Jit/elf.cpp
  cinderx/Jit/elf.h
Owners: none

Support code objects not being stable across function calls
  cinderx/Jit/compiler.cpp
  cinderx/Jit/config.h
  cinderx/Jit/hir/builder.cpp
  cinderx/Jit/jit_rt.cpp
  cinderx/Jit/jit_rt.h
  cinderx/Jit/lir/generator.cpp
  cinderx/Jit/pyjit.cpp
  cinderx/RuntimeTests/lir_test.cpp
Owners: none

Explicitly link CinderX into C++ tests
  cinderx/RuntimeTests/main.cpp
  cinderx/StrictModules/Tests/main.cpp
  cinderx/_cinderx-lib.cpp
  cinderx/_cinderx-lib.h
  cinderx/_cinderx.cpp
  cinderx/setup.py
Owners: none

Add awaiter pointer to 3.12
  Include/cpython/genobject.h
  Lib/test/test_sys.py
  Objects/genobject.c
Owners: @markshannon

Remove `using namespace` from lir/postgen.h
  cinderx/Jit/lir/postgen.h
Owners: none

Disable py launcher by default in the Windows installer
  Tools/msi/bundle/bundle.wxs
Owners: @python/windows-team

Make C++ tests build with Buck
  cinderx/Makefile
  cinderx/RuntimeTests/backend_test.cpp
  cinderx/RuntimeTests/main.cpp
  cinderx/StrictModules/Tests/analyzer_test.cpp
  cinderx/StrictModules/Tests/comparison_tests/asan_skip_tests.txt
  cinderx/StrictModules/Tests/main.cpp
  cinderx/StrictModules/Tests/parse_test.cpp
  cinderx/StrictModules/Tests/test.h
  cinderx/StrictModules/Tests/test_util.cpp
Owners: none

Reenable pyjit_test.cpp
  cinderx/Makefile
  cinderx/RuntimeTests/pyjit_test.cpp
Owners: none

Fix non-opt C++ tests
  cinderx/RuntimeTests/main.cpp
  cinderx/StaticPython/_static.c
  cinderx/StrictModules/Objects/callable_wrapper.h
  cinderx/StrictModules/Objects/numerics.cpp
Owners: none

Fix missing import in zipimport
  Lib/zipimport.py
Owners: @brettcannon, @encukou, @ericsnowcurrently, @ncoghlan, @warsaw

Remove DCHECK from sort comparison function
  cinderx/Jit/hir/hir.cpp
Owners: none

undef the COMMON_FIELDS macro in funcobject.h after it is used
  Include/cpython/funcobject.h
Owners: none

Improve and extend Buck developer targets for CinderX
  cinderx/PythonBin/python.c
  cinderx/TestScripts/cinder_test_runner.py
  cinderx/test_python3.10_bin.sh
Owners: none

Fix/ignore some UBSAN errors from Python tests
  cinderx/Interpreter/interpreter.c
  cinderx/StrictModules/pystrictmodule.cpp
Owners: none

Misc. Buck ASAN fixes
  Lib/test/cinder_support.py
  cinderx/TestScripts/asan_skip_tests.txt
  cinderx/TestScripts/cinder_test_runner.py
Owners: none

Expose Task._step
  Include/internal/pycore_global_objects_fini_generated.h
  Include/internal/pycore_global_strings.h
  Include/internal/pycore_runtime_init_generated.h
  Include/internal/pycore_unicodeobject_generated.h
  Lib/asyncio/tasks.py
  Lib/test/test_asyncio/test_tasks.py
  Modules/_asynciomodule.c
  Modules/clinic/_asynciomodule.c.h
Owners: @1st1, @asvetlov, @gvanrossum, @kumaraditya303, @willingc

Break getPhysRegOrStackSlot() uses into getStackSlot() or getPhysRegister()
  cinderx/Jit/codegen/autogen.cpp
  cinderx/Jit/lir/postalloc.cpp
Owners: none

Use JIT_CHECK for lir::Operand getters
  cinderx/Jit/codegen/autogen.cpp
  cinderx/Jit/lir/operand.h
Owners: none

Use BCOffset for DebugInfo
  cinderx/Jit/debug_info.cpp
  cinderx/Jit/debug_info.h
  cinderx/Jit/frame.cpp
Owners: none

Explicit alignment for all generated ELF sections
  cinderx/Jit/elf.cpp
Owners: none

Backport: gh-118207: Rename the COMMON_FIELDS macro in funcobject.h and undef it after use
  Include/cpython/funcobject.h
Owners: none

Add CI tests
  cinderx/TestScripts/refleak_skip_tests.txt
  cinderx/TestScripts/type_profile_tests.sh
Owners: none

Write a .dynamic section to generated ELF files
  cinderx/Jit/elf.cpp
  cinderx/Jit/elf.h
Owners: none

Surface ASAN errors
  cinderx/PythonBin/python.c
  cinderx/TestScripts/cinder_test_runner.py
Owners: none

Work around bug in Buck2 which causes test runner to always report environment changed
  cinderx/TestScripts/cinder_test_runner.py
Owners: none

Fix classloader.c for aarch64
  cinderx/StaticPython/classloader.c
Owners: none

Add .hash section to written ELF files
  cinderx/Jit/elf.cpp
  cinderx/Jit/elf.h
Owners: none

Fix deprecated use of 0/NULL in cinderx/Jit/hir/hir.h + 1
  cinderx/Jit/hir/hir.h
Owners: none

Remove unused exception parameter from capella/tools/cli/py_bind/uri_builder.cpp
  cinderx/Jit/perf_jitdump.cpp
  cinderx/StrictModules/analyzer.cpp
Owners: none

Remove uses_ field from LIR operands
  cinderx/Jit/lir/operand.cpp
  cinderx/Jit/lir/operand.h
Owners: none

Better track code buffers for compiled functions
  cinderx/Jit/codegen/gen_asm.cpp
  cinderx/Jit/codegen/gen_asm.h
  cinderx/Jit/compiler.cpp
  cinderx/Jit/compiler.h
  cinderx/Jit/elf.cpp
  cinderx/Jit/elf.h
  cinderx/Jit/pyjit.cpp
  cinderx/RuntimeTests/deopt_patcher_test.cpp
  cinderx/RuntimeTests/elf_test.cpp
Owners: none

Move jitlist_bisect.py to CinderX
  cinderx/TestScripts/jitlist_bisect.py
Owners: @rhettinger

Apply various codemods from fbcode to Cinder repo
  cinderx/ThirdParty/googletest-1.8.1/googlemock/include/gmock/gmock-actions.h
  cinderx/ThirdParty/parallel-hashmap/parallel_hashmap/phmap_base.h
Owners: none

Fix lint and add missing test script
  cinderx/TestScripts/test_build_modes.sh
Owners: none

PyContext Enter/Exit Callbacks
  Doc/c-api/contextvars.rst
  Include/cpython/context.h
  Include/internal/pycore_context.h
  Include/internal/pycore_interp.h
  Lib/test/test_capi/test_watchers.py
  Modules/_testcapi/watchers.c
  Python/context.c
  Python/pystate.c
Owners: @1st1
