Repository facebookincubator/cinder, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ezio-melotti, @hugovk, @AlexWaygood, @erlend-aasland, @corona10, @1st1, @asvetlov, @gvanrossum, @kumaraditya303, @willingc, @markshannon, @rhettinger, @methane, @JelleZijlstra, @iritkatriel, @isidentical, @brandtbucher, @tiran, @vsajip, @brettcannon, @encukou, @ericsnowcurrently, @ncoghlan, @warsaw, @jaraco, @FFY00, @pganssle, @abalkin, @python/email-team, @pablogsal, @lysnikolaou, @cjw296, @berkerpeksag, @gpshead, @python/windows-team, @ericvsmith, @terryjreedy, @giampaolo, @ethanfurman, @hauntsaninja, @python/macos-team, @barneygale, @sethmlarson

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# GitHub
.github/**                    @ezio-melotti @hugovk

# pre-commit
.pre-commit-config.yaml       @hugovk @AlexWaygood
.ruff.toml                    @hugovk @AlexWaygood

# Build system
configure*                    @erlend-aasland @corona10

# asyncio
**/*asyncio*                  @1st1 @asvetlov @gvanrossum @kumaraditya303 @willingc

# Core
**/*context*                  @1st1
**/*genobject*                @markshannon
**/*hamt*                     @1st1
Objects/set*                  @rhettinger
Objects/dict*                 @methane @markshannon
Objects/typevarobject.c       @JelleZijlstra
Objects/type*                 @markshannon
Objects/codeobject.c          @markshannon
Objects/frameobject.c         @markshannon
Objects/call.c                @markshannon
Python/ceval.c                @markshannon
Python/compile.c              @markshannon @iritkatriel
Python/assemble.c             @markshannon @iritkatriel
Python/flowgraph.c            @markshannon @iritkatriel
Python/ast_opt.c              @isidentical
Lib/test/test_patma.py        @brandtbucher
Lib/test/test_peepholer.py    @brandtbucher
Lib/test/test_type_*.py       @JelleZijlstra

# Exceptions
Lib/traceback.py              @iritkatriel
Lib/test/test_except*.py      @iritkatriel
Lib/test/test_traceback.py    @iritkatriel
Objects/exceptions.c          @iritkatriel
Python/traceback.c            @iritkatriel

# Hashing
**/*hashlib*                  @tiran
**/*pyhash*                   @tiran
**/*sha*                      @tiran
**/*md5*                      @tiran
**/*blake*                    @tiran
/Modules/_blake2/**           @tiran
/Modules/_sha3/**             @tiran

# logging
**/*logging*                  @vsajip

# venv
**/*venv*                     @vsajip

# Launcher
/PC/launcher.c                @vsajip

# HTML
/Lib/html/                    @ezio-melotti
/Lib/_markupbase.py           @ezio-melotti
/Lib/test/test_html*.py       @ezio-melotti
/Tools/build/parse_html5_entities.py   @ezio-melotti

# Import (including importlib).
**/*import*                   @brettcannon @encukou @ericsnowcurrently @ncoghlan @warsaw
**/*importlib/resources/*      @jaraco @warsaw @FFY00
**/importlib/metadata/*       @jaraco @warsaw

# Dates and times
**/*datetime*                 @pganssle @abalkin
**/*str*time*                 @pganssle @abalkin
Doc/library/time.rst          @pganssle @abalkin
Lib/test/test_time.py         @pganssle @abalkin
Modules/timemodule.c          @pganssle @abalkin
Python/pytime.c               @pganssle @abalkin
Include/pytime.h              @pganssle @abalkin

# Email and related
**/*mail*                     @python/email-team
**/*smtp*                     @python/email-team
**/*mime*                     @python/email-team
**/*imap*                     @python/email-team
**/*poplib*                   @python/email-team

# Garbage collector
/Modules/gcmodule.c           @pablogsal
/Doc/library/gc.rst           @pablogsal

# Parser
/Parser/                      @pablogsal @lysnikolaou
/Tools/peg_generator/         @pablogsal @lysnikolaou
/Lib/test/test_peg_generator/ @pablogsal @lysnikolaou
/Grammar/python.gram          @pablogsal @lysnikolaou

# AST
Python/ast.c                  @isidentical
Parser/asdl.py                @isidentical
Parser/asdl_c.py              @isidentical
Lib/ast.py                    @isidentical

# Mock
/Lib/unittest/mock.py         @cjw296
/Lib/test/test_unittest/testmock/* @cjw296

# SQLite 3
**/*sqlite*                   @berkerpeksag @erlend-aasland

# subprocess
/Lib/subprocess.py            @gpshead
/Lib/test/test_subprocess.py  @gpshead
/Modules/*subprocess*         @gpshead

# Windows
/PC/                          @python/windows-team
/PCbuild/                     @python/windows-team

# Urllib
**/*robotparser*              @berkerpeksag

# Windows installer packages
/Tools/msi/                   @python/windows-team
/Tools/nuget/                 @python/windows-team

# Misc
**/*itertools*                @rhettinger
**/*collections*              @rhettinger
**/*random*                   @rhettinger
**/*queue*                    @rhettinger
**/*bisect*                   @rhettinger
**/*heapq*                    @rhettinger
**/*functools*                @rhettinger
**/*decimal*                  @rhettinger

**/*dataclasses*              @ericvsmith

**/*idlelib*                  @terryjreedy

**/*typing*                   @gvanrossum @JelleZijlstra @AlexWaygood

**/*ftplib                    @giampaolo
**/*shutil                    @giampaolo

**/*enum*                     @ethanfurman
**/*cgi*                      @ethanfurman
**/*tarfile*                  @ethanfurman

**/*tomllib*                  @encukou @hauntsaninja

**/*sysconfig*                @FFY00

**/*cjkcodecs*                @corona10

# macOS
/Mac/                         @python/macos-team
**/*osx_support*              @python/macos-team

# pathlib
**/*pathlib*                  @barneygale

# zipfile.Path
**/*zipfile/_path/*           @jaraco

# SBOM
/Misc/externals.spdx.json     @sethmlarson
/Misc/sbom.spdx.json          @sethmlarson
/Tools/build/generate_sbom.py @sethmlarson

Backport: gh-82300: Add track parameter to multiprocessing.shared_memory
  Doc/library/multiprocessing.shared_memory.rst
  Lib/multiprocessing/shared_memory.py
  Lib/test/_test_multiprocessing.py
Owners: @tiran

Add support for eager imports
  Include/import.h
  Include/internal/pycore_interp.h
  Lib/importlib/__init__.py
  Lib/test/lazyimports/immediate_set_lazy_import.py
  Python/clinic/import.c.h
  Python/import.c
  Python/pystate.c
Owners: @brettcannon, @encukou, @ericsnowcurrently, @ncoghlan, @warsaw

Add support for eager imports
  Include/cpython/import.h
  Include/internal/pycore_global_objects_fini_generated.h
  Include/internal/pycore_global_strings.h
  Include/internal/pycore_interp.h
  Include/internal/pycore_runtime_init_generated.h
  Include/internal/pycore_unicodeobject_generated.h
  Lib/importlib/__init__.py
  Lib/test/lazyimports/set_lazy_imports_eager.py
  Python/clinic/import.c.h
  Python/import.c
  Python/pystate.c
Owners: @brettcannon, @encukou, @ericsnowcurrently, @ncoghlan, @warsaw

Keep py-next/step working in gdb script even when in native code
  Tools/gdb/libpython.py
Owners: none

Patch test_subprocess to work with Meta's build
  Lib/test/test_subprocess.py
Owners: @gpshead

Add '+meta' to Python version string
  Include/patchlevel.h
Owners: none

Skip sysconfig tests that are not compatible with how we run tests internally
  Lib/test/test_sysconfig.py
Owners: @FFY00

Patch test_grp
  Lib/test/test_grp.py
Owners: none

Patch test_audit.test_http to require 'network' resource
  Lib/test/test_audit.py
Owners: none

throw StaticTypeError instead of TypeError
  Include/cinder/hooks.h
  Python/cinderhooks.c
Owners: none

Update braces version to address vulnerability
  Tools/irviewer/package-lock.json
Owners: none

Update braces version to address vulnerability (#142)
  Tools/irviewer/package-lock.json
Owners: none

CinderX "compiling" against 3.12
  Include/cinder/hooks.h
  Python/cinderhooks.c
Owners: none

Recreate PyFunction_EVENT_MODIFY_QUALNAME for 3.12
  Include/cpython/funcobject.h
  Objects/funcobject.c
Owners: none
